/node_modules
/src/datas-edit/url-checker/node_modules
/*.log
/dist
/dist-zip
/docs/docs.css
/docs/docs.js
web-ext-artifacts
DansMaZone.code-workspace

*.map
.DS_Store
*.code-workspace
test/__screenshots
.env

